.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(10px + 2vmin);
}

img {
    width: 80%;
    max-width: 600px;
    border: 2px solid #fff;
}